<template>
    <div class="flush-box">
        <div class="in-contents-content-search-form">
            <el-row :gutter="16">
                <el-col :span="2">검색어</el-col>
                <el-col :span="4">
                    <el-select v-model="value1" placeholder="검색어를 선택해 주세요.">
                        <el-option
                            v-for="item in options1"
                            :key="item.value1"
                            :label="item.label"
                            :value="item.value1">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="10">
                    <el-input placeholder="검색어를 입력해 주세요." v-model="input"></el-input>
                </el-col>
            </el-row>
            <el-row :gutter="16">
                <el-col :span="2">카테고리</el-col>
                <el-col :span="4">
                    <el-select v-model="value2" placeholder="카테고리를 선택해 주세요.">
                        <el-option
                            v-for="item in options2"
                            :key="item.value2"
                            :label="item.label"
                            :value="item.value2">
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
        </div>
        <div class="in-contents-content-button">
            <nuxt-link to="/my-menu/content/content-comments-search-change">
                <button class="button-member-search-topic member-search-button">조회</button>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            options1: [{
                value1: 'Option1',
                label: '아이디'
            }, {
                value1: 'Option2',
                label: '닉네임'
            }, ],
            value1: '',
            options2: [{
                value2: 'Option1',
                label: '일상'
            }, {
                value2: 'Option2',
                label: '유머'
            }, {
                value2: 'Option2',
                label: '정보'
            }, {
                value2: 'Option2',
                label: '연예'
            }, {
                value2: 'Option2',
                label: '게임'
            }, {
                value2: 'Option2',
                label: '만화/애니'
            }, {
                value2: 'Option2',
                label: '스포츠'
            }, {
                value2: 'Option2',
                label: '여행'
            },],
            value2: '',
            input: '',
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COMMENT_SEARCH')
    },
}
</script>
