<template>
    <div class="flush-box">
        <div class="in-contents-setting-total-box1">
            <span class="in-contents-setting-box1-content1">대표 이미지</span>
            <div class="in-contents-setting-app-box1-content2">
                <el-upload
                    action="https://jsonplaceholder.typicode.com/posts/"
                    list-type="picture-card"
                    :on-preview="handlePictureCardPreview"
                    :on-remove="handleRemove">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </div>
        </div>
        <div class="in-contents-setting-total-box2">
            <span class="in-contents-setting-box2-content1">소개</span>
            <el-input placeholder="소개글을 입력해 주세요." v-model="input1" maxlength="30" show-word-limit
                      class="in-contents-setting-app-box2-content2"></el-input>
        </div>
        <div class="in-contents-setting-total-box3">
            <span class="in-contents-setting-box3-content1">고객센터 전화번호</span>
            <el-input placeholder="고객센터 전화번호를 입력해 주세요. (하이픈을 제외하고 입력해 주세요.)" v-model="input2" maxlength="11" show-word-limit
                      class="in-contents-setting-app-box3-content2"></el-input>
        </div>
        <div class="in-contents-setting-total-box3">
            <div class="ask-total-box2-text in-contents-button">
                <button class="button-member-search-search  member-search-button"
                        @click="regist">확인
                </button>
                <button class="button-member-search-search"
                        @click="cancel">취소
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            dialogImageUrl: '',
            dialogVisible: false,
            input1: '',
            input2: '',
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'APP_SETTING')
    },
    methods: {
        handleRemove(file, fileList) {
            console.log(file, fileList);
        },
        handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        },
        regist() {
            this.$confirm('정말로 등록하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '등록이 완료되었습니다.',


                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        cancel() {
            this.$confirm('정말로 취소하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '취소되었습니다.',
                });
            })
        },
    }
}
</script>
