<template>
    <div class="flush-box">
        <div class="in-contents-setting-total-box1">
            <span class="in-contents-setting-box1-content1">주소 정보</span>
            <el-descriptions class="margin-top" :column="3" :size="size" border>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-office-building"></i>
                        주소
                    </template>
                    경기도 안산시
                </el-descriptions-item>
            </el-descriptions>
        </div>
        <div class="in-contents-setting-total-box2">
            <span class="in-contents-setting-box2-content1">기본 정보</span>
            <div class="in-contents-setting-web-box2-content2">
                <el-descriptions class="margin-top" :column="2" border>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-date"></i>
                            시작일
                        </template>
                        2023-11-22
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-date"></i>
                            만기일
                        </template>
                        2028-11-22
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-user"></i>
                            소유자
                        </template>
                        봄봄
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template slot="label">
                            <i class="el-icon-user"></i>
                            관리자
                        </template>
                        봄봄
                    </el-descriptions-item>
                </el-descriptions>
            </div>
        </div>
        <div class="in-contents-setting-total-box3">
            <div class="in-contents-content-button">
                <nuxt-link to="/my-menu/setting/setting-web-change">
                    <button class="button-member-search-topic member-search-button">수정</button>
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'WEB_SETTING')
    },
    methods: {

    }
}
</script>
