<template>
    <div class="flush-box">
        <div class="refg-contents-wrap in-contents">
            <div class="in-contents-total-box1">
                <div class="in-contents-member-search-form">
                    <el-row :gutter="16">
                        <el-col :span="2">검색어</el-col>
                        <el-col :span="4">
                            <el-select v-model="value1" placeholder="검색어를 선택해 주세요.">
                                <el-option
                                    v-for="item in options1"
                                    :key="item.value1"
                                    :label="item.label"
                                    :value="item.value1">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="10">
                            <el-input placeholder="검색어를 입력해 주세요." v-model="input"></el-input>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16">
                        <el-col :span="2">검색 기간</el-col>
                        <el-col :span="4">
                            <el-select v-model="value2" placeholder="검색기간을 선택해 주세요.">
                                <el-option
                                    v-for="item in options2"
                                    :key="item.value2"
                                    :label="item.label"
                                    :value="item.value2">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="5">
                            <el-date-picker
                                v-model="value4"
                                type="date"
                                placeholder="시작 날짜를 선택해 주세요."
                                :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="5">
                            <el-date-picker
                                v-model="value3"
                                type="date"
                                placeholder="종료 날짜를 선택해 주세요.">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16">
                        <el-col :span="2">등급 검색</el-col>
                        <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll"
                                         @change="handleCheckAllChange">전체
                            </el-checkbox>
                            <el-checkbox v-for="city in cities" :label="city" :key="city">{{ city }}</el-checkbox>
                        </el-checkbox-group>
                    </el-row>
                    <el-row :gutter="16">
                        <el-col :span="2">회원 상태</el-col>
                        <el-checkbox-group v-model="checkList">
                            <el-checkbox label="회원"></el-checkbox>
                            <el-checkbox label="활동 중지 회원"></el-checkbox>
                            <el-checkbox label="탈퇴 회원"></el-checkbox>
                            <el-checkbox label="관리자"></el-checkbox>
                        </el-checkbox-group>
                    </el-row>
                </div>
                <div class="in-contents-button">
                    <button class="button-member-search-search  member-search-button"
                            @click="ALL(), openModalSearch = true">조회
                    </button>
                    <button type="text" @click="open" class="button-member-search-search">삭제</button>
                </div>
            </div>
            <div class="in-contents-total-box2" v-if="openModalSearch == true" @click="closeChart($event)">
                <div class="in-contents-cost">
                    총 회원수
                    <button class="member-search-close">닫기</button>
                </div>
                <div class="in-contents-member-search">
                    <el-table :data="tableData">
                        <el-table-column label="선택" width="59">
                            <el-checkbox></el-checkbox>
                        </el-table-column>
                        <el-table-column prop="id" label="id" width="52"></el-table-column>
                        <el-table-column prop="memberRatingName" label="회원 상태" width="168"></el-table-column>
                        <el-table-column prop="gradeName" label="등급" width="200"></el-table-column>
                        <el-table-column prop="username" label="아이디" width="200"></el-table-column>
                        <el-table-column prop="nickName" label="닉네임" width="200"></el-table-column>
                        <el-table-column prop="name" label="회원 이름" width="200"></el-table-column>

<!--                        <el-table-column prop="phone" label="핸드폰" width="180"></el-table-column>-->
<!--                        <el-table-column prop="joinDate" label="가입 일시" width="260"></el-table-column>-->
<!--                        <el-table-column prop="blockDate" label="접근 차단 일시" width="260"></el-table-column>-->
                    </el-table>
                </div>
                <div class="in-contents-order">
                    <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="100"
                        @current-change="setPage">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import error from "@/layouts/error.vue";

const cityOptions = ['BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND'];
export default {
    data() {
        return {
            openModalSearch: false,
            checkAll: false,
            checkedCities: ['BRONZE'],
            cities: cityOptions,
            isIndeterminate: true,
            checkList: ['회원'],
            options1: [{
                value1: 'Option1',
                label: '아이디'
            }, {
                value1: 'Option2',
                label: '닉네임'
            },],
            value1: '',
            options2: [{
                value2: 'Option1',
                label: '가입 날짜'
            }, {
                value2: 'Option2',
                label: '활동 날짜'
            },],
            value2: '',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: 'Today',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: 'Yesterday',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: 'A week ago',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value3: '',
            value4: '',
            input: '',
            checked: false,
            tableData: [],
        };
    },
    methods: {
        calculateIntervalTime(timeCreate) {
            // 현재 시간 가져오기, 등록 시간은 현재 string
            // (현재 시간의 기준은 페이지 로딩 완료 시점, 새로고침 안 하면 처음 기준 그대로)
            const nowTime = new Date() // localDate.now()와 같음
            // 등록 시간 캐스팅한 거
            const createTime = new Date(timeCreate)
            let prefixTime = '분'

            // 결과가 n분 전 또는 n시간 전 또는 n일 전
            // 분 간격 구하기
            // 1초는 1,000m/s, 소수점 버리기
            let interval = Math.floor((nowTime.getTime() - createTime.getTime())/1000 / 60)
             if (interval >= 1440) {
                interval = Math.floor(interval / 60 / 24)
                prefixTime = '일'
            } else if (interval >= 60) {
                interval = Math.floor(interval / 60)
                 prefixTime = '시간'
            }

            return `${interval}${prefixTime}전`

            // 위에서 쓸 때는 {{ calculateIntervalTime('2024-02-01 13:56:33') }}
            // {{ calculateIntervalTime('2024-02-16 12:44:33') }}
        },
        handleCheckAllChange(val) {
            this.checkedCities = val ? cityOptions : [];
            this.isIndeterminate = false;
        },
        handleCheckedCitiesChange(value) {
            let checkedCount = value.length;
            this.checkAll = checkedCount === this.cities.length;
            this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
        },
        closeChart(event) {
            if (event.target.classList.contains('member-search-close')) {
                this.openModalSearch = false;
                this.$store.dispatch(this.$memberConstants.ALL)
            } else if (event.target.classList.contains('member-search-button')) {
                this.openModalSearch = true;
            }
        },
        open() {
            this.$confirm('정말로 삭제하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '삭제가 완료되었습니다.'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        ALL() {
            this.$store.dispatch(this.$memberConstants.ALL)
                .then((res) => {
                    this.tableData = res.data.list
                    console.log('성공따리')
                })
                .catch((error) => {
                    console.log('실패따리')
                })
        },
        setPage(pageNum) {
            this.pageNum = pageNum
            this.ALL()
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_SEARCH')
    },
    created() {
        this.ALL()
    },
}
</script>
