div.sq-error-frame {
    height: 100vh;
    background-color: #f9f9f9;
}

div.sq-error-frame div.contents {
    padding-top: calc(50vh - 110px);
}

div.sq-login-frame {
    height: 100vh;
    background-color: #f9f9f9;
}

/* 내가 꾸미기 시작 */

/* default 꾸미기 시작  */
div.refg-default-frame > div.refg-menu-wrap {
    width: 220px;
    height: 100vh;
    /*overflow-y: scroll; !* 빼도 되는 부분이지 않을까? *!*/
    background-color: #2980b9;
    float: left;
    /* text-align: center; 메뉴 전체 가운데로 옮기고 싶으면 이거 하기 */
}

div.refg-default-frame > div.refg-menu-wrap div.in-logo {
    text-align: center;
    padding: 15px 0;
    border-bottom: #ffffff 5px solid; /* 오븐에서는 가운데 정렬로 양쪽 간격이 떨어져 있음 */
    height: 30px;
}

div.refg-default-frame > div.refg-menu-wrap div.in-logo > div.logo-admin-icon {
    float: right;
}

div.refg-default-frame > div.refg-menu-wrap div.in-logo > div.logo-admin-icon > span {
    font-size: 12px;
    color: #ffffff;
}

div.refg-default-frame > div.refg-menu-wrap div.in-logo > div.logo-admin-icon > i {
    font-size: 30px;
    color: #ffffff;
    padding-right: 5px;
}

div.refg-default-frame > div.refg-menu-wrap div.in-menu {
    padding: 15px;
    color: #ffffff;
    font-weight: 600;
}

div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box {
    padding-bottom: 10px;
}

div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box div.depth1-title {
    padding-bottom: 2px;
}

div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box div.depth1-title i {
    font-size: 2em;
    vertical-align: middle;
    padding-right: 10px;
}

div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box div.depth2-box {
    padding-left: 30px;
}

div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box div.depth2-box li {
    line-height: 1.4;
}

div.refg-default-frame > div.refg-contents-wrap {
    width: calc(100% - 220px);
    height: 100vh;
    overflow-y: scroll;
    float: left;
}

div.refg-default-frame > div.refg-contents-wrap div.in-bread {
    border-bottom: #2980b9 5px solid;
    height: 25px;
    font-size: 17px;
    font-weight: 1000;
    padding: 35px 0 0 10px; /* padding 주는 만큼 height 감소 */
}

div.refg-default-frame > div.refg-contents-wrap div.in-bread span {
    vertical-align: bottom;
}

div.refg-default-frame > div.refg-contents-wrap div.in-contents {
    padding: 20px;
}

.depth1-box:hover {
    background: #ffffff;
    color: #333333;
    border-radius: 5px;
}

.depth1-box:active {
    background-color: #ffffff;
    color: #333333;
    border-radius: 5px;
}

/* default-member-search 꾸미기 시작 */
div.in-contents-member-search-form {
    margin-bottom: 20px;
}

div.in-contents-button {
    width: 300px;
    display: inline;
    padding-left: 400px;
}

.button-member-search-search {
    margin: 4px 100px;
}

div.flush-box > div.refg-contents-wrap > div.in-contents > div.in-contents-total-box1 > div.in-contents-button {
    width: 120px;
    margin: 15px auto;
}

.in-contents-total-box2 {
    margin-left: 165px;
}

/* default-member-change 꾸미기 시작 */
div.in-contents-member-change {
    width: 800px;
    margin: 5px auto 0 auto;
}

div.in-contents-member-change > div.in-contents-total-form1 {
    margin-bottom: 10px;
}

div.in-contents-member-change > div.in-contents-total-form3 {
    margin-left: 20px;
    margin-top: 15px;
}

div.in-contents-member-change > div.in-contents-total-form3 el-button {
    width: 100px;
}

.button-member-state-change {
    width: 500px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button-member-change-closer {
    width: 90px;
    height: 30px;
    line-height: 5px;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50px;
}

.member-change-title-parent {
    background-color: #666666;
}

.member-change-title3 {
    background-color: #ededed;
    height: 33px;
    color: #5e5e5e;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    width: 240px;
    font-weight: 700;
}

.member-change-content3 {
    height: 33px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}

.member-change-total4 {
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 440px;
    margin-right: 15px;
}

.member-change-total3 {
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 550px;
    margin-right: 15px;
}

.member-change-content2 {
    height: 33px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-left: 90px;
}

.member-change-title2 {
    background-color: #ededed;
    height: 33px;
    color: #5e5e5e;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    width: 140px;
    font-weight: 700;
}

.member-change-total2 {
    width: 270px;
    border: 1px solid #cacaca;
    border-radius: 5px;
}

.member-change-content1 {
    height: 33px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-left: 18px;
}

.member-change-total1-1 {
    margin-right: 10px;
}

.member-change-title1 {
    background-color: #ededed;
    height: 33px;
    color: #5e5e5e;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    width: 140px;
    font-weight: 700;
}

.member-change-total1 {
    width: 270px;
}

.member-change-total1-2 {
    width: 270px;
    border: 1px solid #cacaca;
    border-radius: 5px;

}

/* default-member-change-modal 꾸미기 시작 */
.member-change-modal-state-black-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 220px;

}

member-change-modal-state-white-bg {
    width: 90%;
    margin: 80px auto;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 0;
}

.member-change-modal-state-form {
    width: 400px;
    height: 300px;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin-left: 415px;
    margin-top: 230px;
    position: relative;
}

.member-change-modal-state-form1 {
    position: absolute;
    top: 20%;
    margin-left: 140px;
    font-weight: 550;
    font-size: 20px;
}

.member-change-modal-state-form2 {
    width: 300px;
    position: absolute;
    top: 42%;
    margin-left: 50px;
}

.transparent-button-member-change-modal-state-form {
    background-color: transparent;
    color: #007BFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.transparent-button-member-change-modal-state-form:hover {
    background-color: #0056b3;
    color: #e7e7e7;
}

.transparent-button-member-change-modal-state-form:active {
    background-color: #003a80;
    color: #e7e7e7;
}

.member-change-modal-state-form3 {
    width: 300px;
    position: absolute;
    top: 80%;
    margin-left: 50px;
    border-top: 1px solid #bfbfbf;
}

.member-change-modal-state-form3 > button {
    width: 140px;
    margin-left: 5px;
}

.member-change-modal-user-black-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 220px;
    top: 0;
}

.member-change-modal-user-white-bg {
    width: 700px;
    height: 600px;
    margin: 140px 270px;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 0;
}

.member-change-modal-user-close {
    cursor: pointer;
    border: none;
    background: #007BFF;
    color: #c4c4c4;
    border-radius: 5px;
    padding: 5px 15px;
}

.member-change-modal-user-close:hover {
    color: #c4c4c4;
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.5s;
}

.member-change-modal-user-content {
    border: 1px solid #cacaca;
    border-radius: 5px;
    height: 450px;
    margin-left: 70px;
    overflow-y: scroll;
}

.member-change-modal-user-title {
    font-weight: 580;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;

}

.member-change-modal-member-list {
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 0 0 200px;
    cursor: pointer;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    line-height: 18px;

}

.member-change-modal-member-list:hover {
    background-color: #0056b3;
    color: #c4c4c4;
}

.member-change-modal-member-list:active {
    background-color: #003a80;
    border-color: #003a80;
    color: #c4c4c4;
}

/* default-member-change-topic 꾸미기 시작 */
.in-contents-chart-member-change-topic {
    margin: 20px auto 20px auto;
}

.in-contents-title-member-change-topic {
    width: 1350px;
    border-bottom: #2980b9 5px solid;
    font-weight: 550;
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/* default-member-change-comments 꾸미기 시작 */
.in-contents-chart-member-change-comments {
    margin: 20px auto 20px auto;
}

.in-contents-title-member-change-comments {
    width: 1350px;
    border-bottom: #2980b9 5px solid;
    font-weight: 550;
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/* default-member-change-vote 꾸미기 시작 */
.in-contents-chart-member-change-vote {
    margin: 20px auto 20px auto;
}

.in-contents-title-member-change-vote {
    width: 1350px;
    border-bottom: #2980b9 5px solid;
    font-weight: 550;
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/* default-content-topic-search 꾸미기 시작 */
.in-contents-chart-content-change-topic {
    margin: 0 auto;
}

.in-contents-content-cost {
    margin-left: 80px;
}

.in-contents-content-button {
    width: 300px;
    display: inline;
    padding-left: 650px;
}

.in-contents-button {
    width: 120px;
    margin: 15px auto;
}

.in-contents-content-change-button {
    width: 300px;
    display: inline;
    padding-left: 555px;
}

.in-contents-content-topic-title {
    width: 1350px;
    border-bottom: #2980b9 5px solid;
    font-weight: 550;
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
}

/* default-content-comments-search 꾸미기 시작 */
.in-contents-chart-content-change-comments {
    margin: 0 auto;
}

/* default-forbid-search 꾸미기 */
.in-contents-chart-forbid-search {
    margin: 0 auto;
}

/* default-content-topic-search-change 꾸미기 */
.in-contents-ask-total-box {
    margin-left: 40px;
}

/* default-ask-regist 꾸미기 */
.in-contents-ask-total-box1 {
    width: 1200px;
    height: 220px;
    margin-bottom: 25px;
}

.ask-total-box1-title > span {
    margin-right: 150px;
}

.ask-total-box1-title, .ask-total-box2-title {
    margin-bottom: 8px;
    margin-left: 10px;
    font-weight: 600;
}

.ask-total-box1-text {
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    width: 1200px;
    height: 180px;
    padding-top: 5px;
    padding-left: 5px;
}

.ask-total-box2-input {
    width: 1200px;
}

.ask-total-box2-text {
    margin-bottom: 40px;
}

/* default-stats-member-week, default-stats-member-month 꾸미기 */
.in-contents-stats-member-week-content-box {
    margin-top: 15px;
}

/* default-setting-web 꾸미기 */
.in-contents-setting-box1-content1, .in-contents-setting-box2-content1, .in-contents-setting-box3-content1 {
    margin-left: 10px;
    font-weight: 600;
}

.in-contents-setting-web-box1-content1-input {

}

.margin-top {
    margin-top: 10px;
}

.in-contents-setting-web-total-box2, .in-contents-setting-web-total-box3 {
    margin-top: 80px;
}

.in-contents-setting-total-box1, .in-contents-setting-total-box2, .in-contents-setting-total-box3 {
    width: 1200px;
    height: 220px;
}

.in-contents-setting-total-box2-content2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1200px;
    height: 180px;
}

.in-contents-setting-web-box2-content2-input {
    margin-right: 50px;
    margin-bottom: 20px;
    width: 600px;
    display: block;
    margin-top: 12px;
}

/* default-setting-app, default-setting-app-change 꾸미기 */
.in-contents-setting-app-box1-content2 {
    margin-top: 10px;
}

.in-contents-setting-app-box2-content2, .in-contents-setting-app-box3-content2 {
    margin-top: 10px;
}

.in-contents-setting-web-box1-content1-input {
    width: 800px;
    display: block;
    margin-top: 12px;
}

.in-contents-setting-box-content-text1 {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

.in-contents-setting-box-content-text2 {
    width: 600px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

.in-contents-setting-app-box3-content2 {
    width: 600px;
    display: block;
}

    /* default-index 꾸미기 */
.in-contents-dash-ranking-box {
    border: 2px solid #2980b9;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    background-color: #ffffff;
}

.in-contents-dash-content-box1 {
    position: relative;
}

.in-contents-dash-content-sm-box1 {
    background-color: #2980b9;
    width: 320px;
    height: 140px;
    position: absolute;
    top: 18%;
    left: 10%;
    padding-top: 50px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
}

.in-contents-dash-total-box2 {
    margin-top: 40px;
}

.in-contents-dash-content-box2 {
    position: relative;
}

.in-contents-dash-content-sm-box2 {
    background-color: #2980b9;
    width: 320px;
    height: 70px;
    position: absolute;
    top: 30%;
    left: 5%;
    border-radius: 5px;
}

.in-contents-dash-content-sm-box2-title {
    margin-top: 8px;
}

.in-contents-dash-content-box3 {
    position: relative;
}

.in-contents-dash-content-sm1-box3 {
    background-color: #2980b9;
    width: 260px;
    height: 60px;
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 5px;
}

.in-contents-dash-content-sm1-box3-title {
    margin-top: 4px;
    color: #ffffff;
}

.in-contents-dash-content-sm2-box3 {
    width: 500px;
    height: 150px;
    position: absolute;
    top: 45%;
    left: 5%;
    text-align: center;
}

.in-contents-dash-content-sm2-box3-1, .in-contents-dash-content-sm2-box3-2, .in-contents-dash-content-sm2-box3-3 {
    margin-top: 5px;
}

.in-contents-dash-content-sm2-box3-3 {
    color: #ac0c0c;
    font-weight: 600;
}

.in-contents-dash-content-sm2-box3-title {
    border-top: 3px solid #bfbfbf;
    border-radius: 5px;
    width: 335px;
}

.el-icon-top-right, .el-icon-bottom-right {
    font-size: 18px;
    font-weight: 600;
}

/* 막대 그래프 */
.graph_wrap {
    max-width: 864px;
    margin: 0 auto;
    padding: 20px;
}

.graph {
    position: relative;
    height: 185px;
    margin-top: 15px;
}

.graph .y-axis {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.graph .y-axis > li {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% / 11);
    margin-left: 20px;
    text-align: left;
}

.graph-criteria-line {
    border-top: 2px solid #bfbfbf;
}

.graph .y-axis > li span {
    position: absolute;
    top: -7px;
    left: -20px;
    font-size: 12px;
    line-height: 1;
}

.graph .x-axis {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -8px;
    left: 20px;
    width: calc(100% - 20px);
    text-align: center;
    z-index: 2;
}

.graph .x-axis > li {
    font-size: 12px;
}

.graph .bar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    bottom: 16px;
    left: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 16px);
    text-align: center;
    z-index: 3;
}

.graph .bar > li {
    flex-grow: 1;
    margin: 0 10px;
}

.graph .bar > li span {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 80px;
    background: #2980b9;
}

.graph .bar:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 3px;
    height: calc(100% + 4px);
}

/* 꺾은 선 그래프 */
ul, ol {
    list-style: none;
}

.chart {
    width: 280px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 6px 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.chart_head {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px 16px;
    background: #2980b9;

    dl {
        color: #fff;
        font-size: 11px;
        font-weight: 600;

        .bold {
            font-size: 14px;
            font-weight: bolder;
        }

        &:last-child {
            text-align: right;
        }
    }
}

.chart_body {
    padding: 16px 12px;

    & > ul {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;

        li {
            display: flex;
            align-items: center;
            gap: 8px;

            &::before {
                content: "";
                display: block;
                width: 12px;
                height: 3px;
                border-radius: 2px;
            }

            &:first-child::before {
                background: #fa7373;
            }

            &:last-child::before {
                background: #7ba2ff;
            }

        }
    }
}

.line_graph {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 80px;

    .gray_line {
        width: 100%;
        height: 40px;
        border-top: 1px solid #eee;

        &:nth-of-type(2) {
            border-bottom: 1px solid #eee;
        }
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;

        polyline {
            fill: none;
            stroke-width: 2;

            &.red {
                stroke: #fa7373;
            }

            &.blue {
                stroke: #7ba2ff;
            }
        }
    }
}

.red_dots, .blue_dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    & > div {
        cursor: pointer;
        position: absolute;
        z-index: 10;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50px;

        &:hover .tooltip {
            bottom: 14px;
            opacity: 1;
            visibility: visible;
        }
    }

}

.tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    border-radius: 4px;
    padding: 4px 6px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    display: grid;
    place-items: center;
    transition: bottom ease-out 0.4s, opacity ease-out 0.4s;

    opacity: 0;
    visibility: hidden;

    &::before {
        content: "";
        position: absolute;
        bottom: -3px;
        width: 6px;
        height: 6px;
        transform: rotate(45deg);
    }
}

.red_dots {
    & > div {
        background: #fa7373;

        &:nth-child(1) {
            top: 42px;
            left: 8px;
        }

        &:nth-child(2) {
            top: 9px;
            left: 48px;
        }

        &:nth-child(3) {
            top: 20px;
            left: 88px;
        }

        &:nth-child(4) {
            top: 8px;
            left: 128px;
        }

        &:nth-child(5) {
            top: 35px;
            left: 168px;
        }

        &:nth-child(6) {
            top: 45px;
            left: 208px;
        }

        &:nth-child(7) {
            top: 17px;
            left: 248px;
        }

    }

    .tooltip {
        background: #fa7373;

        &::before {
            background: #fa7373;
        }
    }

}

.blue_dots {
    & > div {
        background: #7ba2ff;

        &:nth-child(1) {
            top: 58px;
            left: 8px;
        }

        &:nth-child(2) {
            top: 47px;
            left: 48px;
        }

        &:nth-child(3) {
            top: 62px;
            left: 88px;
        }

        &:nth-child(4) {
            top: 52px;
            left: 128px;
        }

        &:nth-child(5) {
            top: 58px;
            left: 168px;
        }

        &:nth-child(6) {
            top: 71px;
            left: 208px;
        }

        &:nth-child(7) {
            top: 61px;
            left: 248px;
        }
    }

    .tooltip {
        background: #7ba2ff;

        &::before {
            background: #7ba2ff;
        }
    }
}

.week {
    margin-top: 10px;

    ul {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
    }
}
