<template>
    <div>
        <div class="in-contents-ask-total-box1" v-if="detailInfo != null">
            <div class="ask-total-box1-title">
                <span>제목: {{ detailInfo.title }} </span>
                <span>작성자: {{ detailInfo.memberNickName }} </span>
                <span>작성 날짜: {{ detailInfo.dateUserAsk }} </span>
            </div>
            <div class="ask-total-box1-text">
                {{ detailInfo.content }}
            </div>
            <div class="mt-4"></div>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" >
                <el-row >
                    <el-col >
                        <el-form-item label="문의글 답변">
                            <el-input placeholder="답변 내용을 입력해주세요." v-model="ruleForm.content"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col>
                        <el-form-item>
                            <el-button type="primary" class="button-member-search-topic" @click="doSetComment()">등록</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },

    data() {
        return {
            id: null,
            detailInfo: null,
            ruleForm: {
                content: '',
            },
            rules: {
                content: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:100, message:'2~100자 내로 입력해주세요.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        async getDetail() {
            await this.$store.dispatch(this.$askConstants.DO_ASK_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                })
        },

        doSetComment() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setComment()
                } else {
                    return false
                }
            })
        },

        setComment() {
            let payload = {
                id : this.detailInfo.id,
                data: {
                    content: this.ruleForm.content,
                }
            }

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$askConstants.DO_ASK_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/my-menu/ask/ask-search-change`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_DETAIL')
    },
}
</script>
