<template>
    <div class="flush-box">
        <div class="in-contents-ask-total-box1">
            <div class="ask-total-box1-title">
                <span>제목: </span>
                <span>작성자: </span>
                <span>작성 날짜: </span>
            </div>
            <div class="ask-total-box1-text">
                1:1 상담 문의 내역 칸입니다.
            </div>
        </div>
        <div class="in-contents-ask-total-box2">
            <div class="ask-total-box2-title">
                <span>1:1 상담 답변</span>
            </div>
            <div class="ask-total-box2-text">
                <el-input placeholder="답변 내용을 입력해 주세요." v-model="input" class="ask-total-box2-input"></el-input>
            </div>
            <div class="ask-total-box2-text in-contents-button">
                <button class="button-member-search-search  member-search-button"
                        @click="regist">확인
                </button>
                <button class="button-member-search-search"
                        @click="cancel">취소
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            input: '',
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COUNSEL_REGIST')
    },
    methods: {
        regist() {
            this.$confirm('정말로 등록하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '등록이 완료되었습니다.',
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        cancel() {
            this.$confirm('정말로 취소하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '취소되었습니다.',
                });
            })
        },
    }
}
</script>
