<template>
    <div class="flush-box">
        <div class="in-contents-ask-total-box">
            <div class="in-contents-ask-cost">
                총 1:1 상담 내역
            </div>
            <div class="in-contents-chart">
                <el-table :data="list">
                    <el-table-column label="선택" width="59">
                        <el-checkbox></el-checkbox>
                    </el-table-column>
                    <el-table-column type="index" :index="indexMethod" label="번호" ></el-table-column>
                    <el-table-column prop="id" label="작성자 ID" ></el-table-column>
                    <el-table-column prop="memberNickName" label="작성자" ></el-table-column>
                    <el-table-column prop="title" label="제목" ></el-table-column>
                    <el-table-column prop="dateUserAsk" label="작성 날짜" ></el-table-column>

                    <el-table-column
                        align="right">
                        <template slot-scope="scope">
                            <el-button
                                circle @click.native="moveDetail(list[scope.$index].id)">Edit</el-button>
                            <el-button
                                type="danger"
                                @click="delData(list[scope.$index].id)">Delete</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="in-contents-order">
                <el-pagination
                    background
                    small
                    layout="prev, pager, next"
                    :total="totalCount"
                    :current-page="pageNum"
                    @current-change="setPage"
                >
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            list:[],
            pageNum: 1,
            totalCount: 0,

            input: '',
        }
    },

    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            let payload = {
                pageNum: this.pageNum,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$askConstants.DO_ASK_LIST_PAGING, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalCount = res.data.totalCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

        delData(id) {
            let payload={
                id:id
            }
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$askConstants.DO_ASK_DELETE, payload)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)

                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },

        moveDetail(id) {
            let linkBaseUrl = '/my-menu/ask/detail/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },

    },
    computed: {
        error() {
            return error
        },
    },
    created() {
        this.getList()
    },
}
</script>
