<template>
    <div class="flush-box">
        <div class="in-contents-forbid-box1">
            <el-row :gutter="16">
                <el-col :span="2">검색어</el-col>
                <el-col :span="10">
                    <el-input placeholder="검색어를 입력해 주세요." v-model="input"></el-input>
                </el-col>
            </el-row>
            <el-row :gutter="16">
                <el-col :span="2">검색 기간</el-col>
                <el-col :span="5">
                    <el-date-picker
                        v-model="value4"
                        type="date"
                        placeholder="시작 날짜를 선택해 주세요."
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </el-col>
                <el-col :span="5">
                    <el-date-picker
                        v-model="value3"
                        type="date"
                        placeholder="종료 날짜를 선택해 주세요.">
                    </el-date-picker>
                </el-col>
            </el-row>
            <div class="in-contents-content-button">
                <nuxt-link to="/my-menu/ask/ask-search-change">
                    <button class="button-member-search-topic member-search-button">조회</button>
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            input: '',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: 'Today',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: 'Yesterday',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: 'A week ago',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value3: '',
            value4: '',
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COUNSEL_SEARCH')
    },
    methods: {

    }
}
</script>
