<template>
    <div class="refg-default-frame flush-box">
        <div class="refg-menu-wrap">
            <div class="in-logo">
                <div class="logo-admin-icon">
                    <span>관리자</span>
                    <i class="el-icon-s-custom"></i>
                </div>
            </div>
            <div class="in-menu">
                <ul>
                    <li class="depth1-box" v-for="(menuData, menuIndex) in menusList" v-bind:key="menuIndex">
                        <div class="depth1-title flush-box">
                            <i :class="menuData.icon"></i>{{ menuData.parentName }}
                        </div>
                        <div class="depth2-box">
                            <ul>
                                <li v-for="(menuData2, menuIndex2) in menuData.menuLabel" v-bind:key="menuIndex2"
                                    v-if="menuData2.isShow">
                                    <nuxt-link :to="menuData2.link">{{ menuData2.currentName }}</nuxt-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="refg-contents-wrap">
            <div class="in-bread">
                <span>{{ selectedMenu[0] }} <i class="el-icon-arrow-right"></i> {{ selectedMenu[1] }}</span>
            </div>
            <div class="in-contents">
                <Nuxt/>
            </div>
        </div>
        <Nuxt/>
    </div>
</template>

<script>

export default {
    data() {
        return {}
    },
    computed: {
        error() {
            return error
        },
        menusList() {
            return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
        },
        selectedMenu() {
            return this.$store.getters[this.$menuConstants.GET_SELECTED_MENU]
        },

    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },

}
</script>
