<template>
    <div class="flush-box">
        <el-row :gutter="24">
            <el-col :span="7">
                <div class="total-contents-box">방문자 현황</div>
                <section class="refg-contents-box in-contents-dash-content-box1">
                    <div class="center">
                        <div class="chart">
                            <div class="chart_head">
                                <dl>
                                    <dt class="bold">MONTH REPORT</dt>
                                    <dd>매달 01일 - 31일</dd>
                                </dl>
                            </div>
                            <div class="chart_body">
                                <ul>
                                    <li>이번달</li>
                                    <li>저번달</li>
                                </ul>
                                <div class="line_graph">
                                    <div class="gray_line"></div>
                                    <div class="gray_line"></div>
                                    <svg width="264" height="80">
                                        <polyline class="red"
                                                  points="9,46 50,12 90,23 130,11 171,38 211,48 251,19"></polyline>
                                    </svg>
                                    <div class="red_dots">
                                        <div>
                                            <div class="tooltip">458</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">812</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">746</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">877</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">517</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">434</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">458</div>
                                        </div>
                                    </div>
                                    <svg width="264" height="80">
                                        <polyline class="blue"
                                                  points="9,61 50,50 90,65 130,55 171,61 211,74 251,64"></polyline>
                                    </svg>
                                    <div class="blue_dots">
                                        <div>
                                            <div class="tooltip">26</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">41</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">22</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">36</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">25</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">13</div>
                                        </div>
                                        <div>
                                            <div class="tooltip">20</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="week">
                                    <ul>
                                        <li>1</li>
                                        <li>5</li>
                                        <li>10</li>
                                        <li>15</li>
                                        <li>20</li>
                                        <li>25</li>
                                        <li>30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </el-col>
            <el-col :span="7">
                <div class="total-contents-box">일간 유입수</div>
                <section class="refg-contents-box in-contents-dash-content-box2">
                    <div class="in-contents-dash-content-sm-box2">
                        <el-statistic
                            group-separator=","
                            :precision="2"
                            decimal-separator="."
                            :value="value1"
                            :title="title1"
                            style="color: #ffffff"
                            class="in-contents-dash-content-sm-box2-title">
                            <template slot="prefix">
                                <i class="el-icon-s-flag" style="color: red"></i>
                            </template>
                            <template slot="suffix">
                                <i class="el-icon-s-flag" style="color: blue"></i>
                            </template>
                        </el-statistic>
                    </div>
                </section>
            </el-col>
            <el-col :span="10">
                <div class="total-contents-box">전년 대비 유입수</div>
                <section class="refg-contents-box in-contents-dash-content-box3">
                    <div class="in-contents-dash-content-sm1-box3">
                        <el-statistic
                            group-separator=","
                            :precision="2"
                            decimal-separator="."
                            :value="value2"
                            :title="title2"
                            class="in-contents-dash-content-sm1-box3-title">
                            <template slot="prefix">
                                <i class="el-icon-top-right" style="color: red"></i>
                            </template>
                            <template slot="suffix">
                                <i class="el-icon-bottom-right" style="color: blue"></i>
                            </template>
                        </el-statistic>
                    </div>
                    <div class="in-contents-dash-content-sm2-box3">
                        <el-row :gutter="6">
                            <el-col :span="5">
                                <div class="grid-content bg-purple">전월</div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">당월</div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">전월 대비</div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="6">
                            <el-row class="in-contents-dash-content-sm2-box3-title"></el-row>
                            <el-col :span="5">
                                <div class="grid-content bg-purple in-contents-dash-content-sm2-box3-1">
                                    1,000
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple in-contents-dash-content-sm2-box3-2">
                                    2,648
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple in-contents-dash-content-sm2-box3-3">
                                    + 19%
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </section>
            </el-col>
        </el-row>
        <el-row :gutter="24" class="in-contents-dash-total-box2">
            <el-col :span="7">
                <div class="total-contents-box">상위 노출글 TOP 5</div>
                <section class="refg-contents-box">
                    <div class="in-contents-dash-ranking-box">
                        1.
                    </div>
                    <div class="in-contents-dash-ranking-box">
                        2.
                    </div>
                    <div class="in-contents-dash-ranking-box">
                        3.
                    </div>
                    <div class="in-contents-dash-ranking-box">
                        4.
                    </div>
                    <div class="in-contents-dash-ranking-box">
                        5.
                    </div>
                </section>
            </el-col>
            <el-col :span="15">
                <div class="total-contents-box">시간대별 유입수</div>
                <section class="refg-contents-box">
                    <div class="graph_wrap">
                        <div class="graph">
                            <!-- 기준 -->
                            <ul class="y-axis">
                                <li><span>100</span></li>
                                <li><span></span></li>
                                <li><span>80</span></li>
                                <li><span></span></li>
                                <li><span>60</span></li>
                                <li><span></span></li>
                                <li><span>40</span></li>
                                <li><span></span></li>
                                <li><span>20</span></li>
                                <li><span></span></li>
                                <li class="graph-criteria-line"><span>0</span></li>
                            </ul>
                            <!-- 목록 -->
                            <ul class="x-axis">
                                <li><span>00</span></li>
                                <li><span>01</span></li>
                                <li><span>02</span></li>
                                <li><span>03</span></li>
                                <li><span>04</span></li>
                                <li><span>05</span></li>
                                <li><span>06</span></li>
                                <li><span>07</span></li>
                                <li><span>08</span></li>
                                <li><span>09</span></li>
                                <li><span>10</span></li>
                                <li><span>11</span></li>
                                <li><span>12</span></li>
                                <li><span>13</span></li>
                                <li><span>14</span></li>
                                <li><span>15</span></li>
                                <li><span>16</span></li>
                                <li><span>17</span></li>
                                <li><span>18</span></li>
                                <li><span>19</span></li>
                                <li><span>20</span></li>
                                <li><span>21</span></li>
                                <li><span>22</span></li>
                                <li><span>23</span></li>
                            </ul>
                            <!-- 바 그래프 (백분율 만큼 height값) -->
                            <ul class="bar">
                                <li style="height:100%;"><span></span></li>
                                <li style="height:70%;"><span></span></li>
                                <li style="height:30%;"><span></span></li>
                                <li style="height:30%;"><span></span></li>
                                <li style="height:35%;"><span></span></li>
                                <li style="height:30%;"><span></span></li>
                                <li style="height:50%;"><span></span></li>
                                <li style="height:50%;"><span></span></li>
                                <li style="height:75%;"><span></span></li>
                                <li style="height:70%;"><span></span></li>
                                <li style="height:50%;"><span></span></li>
                                <li style="height:50%;"><span></span></li>
                                <li style="height:50%;"><span></span></li>
                                <li style="height:75%;"><span></span></li>
                                <li style="height:30%;"><span></span></li>
                                <li style="height:30%;"><span></span></li>
                                <li style="height:70%;"><span></span></li>
                                <li style="height:82%;"><span></span></li>
                                <li style="height:75%;"><span></span></li>
                                <li style="height:75%;"><span></span></li>
                                <li style="height:70%;"><span></span></li>
                                <li style="height:80%;"><span></span></li>
                                <li style="height:80%;"><span></span></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </el-col>
        </el-row>
    </div>
</template>

<script>
export default {
    data() {
        return {
            value1: 2689,
            title1: "Today Total",
            value2: 4154.564,
            title2: "Growth last year",
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
