<template>
    <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
            prop="date"
            label="Date"
            width="180">
        </el-table-column>
        <el-table-column
            prop="name"
            label="Name"
            width="180">
        </el-table-column>
        <el-table-column
            prop="address"
            label="Address">
        </el-table-column>
    </el-table>
</template>
<script>
import axios from "axios";
export default {
    data() {
        return {
            tableData: []
        }
    },
    mounted() {
        this.fetchData();
    },
    methods: {
      fetchData() {
          axios.get('/v1/member/all')
              .then(response =>{
                  console.log(111)
              this.tableData = response.data;
          })
              .catch(error => {
              console.error('실패', error);
          })
      }

    }
}
</script>
