<template>
    <div class="flush-box">
        <div class="in-contents-stats-member-week-total-box1">
            <div class="in-contents-title-member-change-topic">
                <i class="el-icon-user"></i>
                월별 통계 총 접속자수
            </div>
            <div class="in-contents-chart in-contents-stats-member-week-content-box">
                <div class="in-contents-chart">
                    <el-table :data="tableData">
                        <el-table-column prop="time" label="월간" width="58"></el-table-column>
                        <el-table-column prop="graph" label="그래프" width="1080"></el-table-column>
                        <el-table-column prop="accessor" label="접속자수" width="90"></el-table-column>
                        <el-table-column prop="percent" label="비율" width="90"></el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            tableData: [
                {
                    time: '01월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '02월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="60"></el-progress>,
                    accessor: '',
                    percent: '60%',
                },
                {
                    time: '03월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '',
                    percent: '90%',
                },
                {
                    time: '04월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '',
                    percent: '80%',
                },
                {
                    time: '05월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '06월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '07월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="65"></el-progress>,
                    accessor: '',
                    percent: '65%',
                },
                {
                    time: '08월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '09월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="85"></el-progress>,
                    accessor: '',
                    percent: '85%',
                },
                {
                    time: '10월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '11월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '',
                    percent: '90%',
                },
                {
                    time: '12월',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
            ],
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STATS_MEMBER')
    },
    methods: {}
}
</script>
