<template>
    <div class="flush-box">
        <div class="in-contents-stats-member-week-total-box1">
            <div class="in-contents-title-member-change-topic">
                <i class="el-icon-user"></i>
                주간별 통계 총 접속자수
            </div>
            <div class="in-contents-chart in-contents-stats-member-week-content-box">
                <div class="in-contents-chart">
                    <el-table :data="tableData">
                        <el-table-column prop="time" label="월간" width="58"></el-table-column>
                        <el-table-column prop="graph" label="그래프" width="1080"></el-table-column>
                        <el-table-column prop="accessor" label="접속자수" width="90"></el-table-column>
                        <el-table-column prop="percent" label="비율" width="90"></el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tableData: [
                {
                    time: '01주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '',
                    percent: '90%',
                },
                {
                    time: '02주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '',
                    percent: '90%',
                },
                {
                    time: '03주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '',
                    percent: '80%',
                },
                {
                    time: '04주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '',
                    percent: '75%',
                },
                {
                    time: '05주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="45"></el-progress>,
                    accessor: '',
                    percent: '45%',
                },
                {
                    time: '06주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="50"></el-progress>,
                    accessor: '',
                    percent: '50%',
                },
                {
                    time: '07주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="50"></el-progress>,
                    accessor: '',
                    percent: '50%',
                },
                {
                    time: '08주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="60"></el-progress>,
                    accessor: '',
                    percent: '60%',
                },
                {
                    time: '09주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="65"></el-progress>,
                    accessor: '',
                    percent: '65%',
                },
                {
                    time: '10주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '11주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '',
                    percent: '75%',
                },
                {
                    time: '12주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '',
                    percent: '75%',
                },
                {
                    time: '13주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '',
                    percent: '75%',
                },
                {
                    time: '14주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '15주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '16주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '17주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '18주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '',
                    percent: '70%',
                },
                {
                    time: '19주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '',
                    percent: '80%',
                },
                {
                    time: '20주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '',
                    percent: '75%',
                },
                {
                    time: '21주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '',
                    percent: '80%',
                },
                {
                    time: '22주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '',
                    percent: '90%',
                },
                {
                    time: '23주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '',
                    percent: '80%',
                },
                {
                    time: '24주',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '',
                    percent: '80%',
                },
            ],
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STATS_MEMBER')
    },
    methods: {

    }
}
</script>
